.venv/
__pycache__/
src/data/pokemon.csv
src/data/standings.csv
src/data/teams.csv
src/data/abilities.csv
src/data/moves.csv
src/data/items.csv
src/data/tournaments.csv
src/data/icons.csv
.env